.flag{
    display:flex;
    flex:1;
    height:100px;
    width:150px;
    background-color:white;
    border: 2px solid black;
    justify-content: center;
    margin:30%;
}

.circle{
    display:flex;
    height:50px;
    width:50px;
    background-color: red;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 25px;
}

