/Boilerplatetester.html
/images
/index.html
/main.js
/McNamee_Sean_Dictionary.zip
/McNamee_Sean_Format_Assignment.html
/McNamee_Sean_Format_Assignment.zip
/McNamee_Sean_Registration_Form_Assignment.html
/McNamee_Sean_Registration_Form_Assignment.zip
/Readme.md
/style.css