 .nav  {
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-between;
}
.nav-links {
    display:flex;
    display:inline-flex;
    
}

.btn{
    display:flex;
}

li{
    margin: 10px;
}

ul{
    list-style: none;
}